/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */

h1,
h2,
h3,
h4 {
  color: $font-color !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.15em;
  margin: 0;
  margin-bottom: 30px;
}

h1 {
  font-size: 36px;
  text-transform: capitalize;
  font-weight: 600;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
  font-weight:600;
}

p,
ul,
ol {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 15px;

  li {
    list-style-position: inside;
    margin-left: 5px;
  }
}

a {
  color: $link-color;
  text-decoration: underline;
}
