<!-- FOOTER START -->
<div class="footer">
  <table align="center">
    <tr>
      <td>
      	<table>
      		<tr>
      			<td>
			      	<b>DueDil Limited.</b>
					<p>Registered in England. 26 Red Lion Square, London, WC1R 4AG, UK <br>
					Company Number: 06999618</p>
					<p>You received this message because you are a user of DueDil.</p>
				</td>
			</tr>
		</table>
      </td>
    </tr>
  </table>
</div>
<!-- FOOTER END -->